{% extends 'base.html' %}

{% block title %}{{ session_data.session_name }}{% endblock %}

{% block custom_css_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/session.css') }}">
{% endblock %}

{% block content %}

<div class="session-container">
    <div class="session-header">
        <div class="session-info">
            <h2>{{ session_data.session_name }}</h2>
            <span>•</span>
            <p><strong>Session ID:</strong> {{ session_data.session_id }}</p>
            <span>•</span>
            <p><strong>Session Type:</strong> {{ session_data.session_type }}</p>
        </div>

        <div class="session-footer">
            {% if session_data.session_owner != email %}
            <form id="leave-session-form" method="post"
                action="{{ url_for('leave_session', session_id=session_data.session_id) }}">
                <button type="submit" class="leave-button">Leave Session</button>
            </form>
            {% else %}
            <form id="end-session-form" method="post"
                action="{{ url_for('end_session', session_id=session_data.session_id) }}">
                <button type="submit" class="end-button">End Session</button>
            </form>
            {% endif %}
        </div>

    </div>

    <div class="session-main">
        <div class="session-sidebar">
            <div class="participants-section">
                <h3>Participants</h3>
                <ol id="participants-list">
                    {% for participant in session_data.participants %}
                    <li>{{ participant }}</li>
                    {% endfor %}
                </ol>
            </div>

            <div class="resources-section">
                <h3>Resources</h3>
                <div id="resources-list">
                    {% if session_data.resources %}
                    {% for resource in session_data.resources %}
                    <div class="resource">
                        {% if resource.ext in ["png", "jpg", "jpeg", "svg", "gif", "webp", "bmp", "ico"] %}
                        <img src="{{ resource.link }}" alt="{{ resource.name }}" class="resource-thumbnail" />
                        {% else %}
                        <span class="fake-thumbnail" style="text-transform: uppercase;">{{ resource.ext }}</span>
                        {% endif %}
                        <a href="{{ resource.link }}" target="_blank">{{ resource.name }} ({{ resource.ext }})</a>
                        <span class="uploader">{{ resource.uploader }}</span>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="no-resources">
                        <img src="{{ url_for('static', filename='images/no-resources.png') }}"
                            alt="No resources available" class="no-resources-image" />
                        <p>No resources available.</p>
                        <p>Try Upload something!</p>
                    </div>
                    {% endif %}
                </div>
                <form id="upload-form" class="upload-form">
                    <input type="file" id="file-input" />
                    <button type="submit" class="upload-button">Upload</button>
                </form>
            </div>
        </div>

        <div class="chat-section">
            <h3>Live Chat</h3>
            <div id="chat-box" class="chat-box">
                {% for message in session_data.chat_messages %}
                <p><strong>{{ message.email }}:</strong> {{ message.message }}</p>
                {% else %}
                <p class="system-fake-message"><b>System</b>: This is the beginning of an amazing chat!</p>
                {% endfor %}
            </div>
            <form id="chat-form" class="chat-form">
                <input type="text" id="message-input" autocomplete="off" placeholder="Type your message here..." />
                <button type="submit" class="send-button">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect(window.location.origin);

    socket.emit("join", { "session_id": "{{ session_data.session_id }}" });

    socket.on("connect", function () {
        console.log("Connected to WebSocket server");
    });

    socket.on("end_session", function (data) {
        if (data.session_id === "{{ session_data.session_id }}") {
            alert("The session has ended.");
            window.location.href = "{{ url_for('home') }}";
        }
    });

    socket.on("receive_message", function (data) {
        var chatBox = document.getElementById("chat-box");

        var fakeMessage = document.querySelector(".system-fake-message");
        if (fakeMessage) {
            fakeMessage.remove();
        }

        var messageElement = document.createElement("p");
        messageElement.innerHTML = "<strong>" + data.email + ":</strong> " + data.message;
        chatBox.appendChild(messageElement);

        chatBox.scrollTop = chatBox.scrollHeight;

        // do not play the beep sound if the message is from the current user
        if (data.email === "{{ email }}") {
            return;
        }
        var beep = new Audio("{{ url_for('static', filename='beep.mp3') }}");
        beep.play();
    });

    socket.on("update_participants", function (data) {
        var participantsList = document.getElementById("participants-list");
        participantsList.innerHTML = "";
        data.participants.forEach(function (participant) {
            var participantElement = document.createElement("li");
            participantElement.textContent = participant;
            participantsList.appendChild(participantElement);
        });
    });

    document.getElementById("chat-form").addEventListener("submit", function (event) {
        event.preventDefault();
        var messageInput = document.getElementById("message-input");
        var message = messageInput.value;
        socket.emit("send_message", { "session_id": "{{ session_data.session_id }}", "message": message });
        messageInput.value = "";
    });

    try {
        document.getElementById("leave-session-form").addEventListener("submit", function (event) {
            event.preventDefault();
            socket.emit("leave", { "session_id": "{{ session_data.session_id }}" });
            window.location.href = "{{ url_for('home') }}";
        });
    }
    catch (e) {
        console.log("User is the owner of the session");
    }

    document.getElementById("upload-form").addEventListener("submit", function (event) {
        event.preventDefault();

        var fileInput = document.getElementById("file-input");
        var file = fileInput.files[0];

        if (!file) {
            alert("Please select a file to upload.");
            return;
        }

        // check if the file size is greter than 15MB
        if (file.size > 15 * 1024 * 1024) {
            alert("File size should be less than 15MB.");
            return;
        }

        var formData = new FormData();
        formData.append("file", file);

        // Upload to i.spoo.me
        fetch("https://i.spoo.me/upload", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.url) {
                    // Send the URL to your Flask backend
                    fetch("{{ url_for('upload_resource') }}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            session_id: "{{ session_data.session_id }}",
                            link: data.url,
                            name: file.name.split('.').slice(0, -1).join('.').slice(0, 25),
                            ext: file.name.split('.').pop()
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                socket.emit("resource_uploaded", {
                                    session_id: "{{ session_data.session_id }}",
                                    resource: data.resource
                                });
                                alert("Resource uploaded successfully!");
                            } else {
                                alert("Failed to upload resource.");
                            }
                        });
                } else {
                    alert("Failed to upload file.");
                }
            });
    });

    socket.on("update_resources", function (data) {
        var resource = data.resource;
        var resourcesList = document.getElementById("resources-list");

        var noResourcesDiv = document.querySelector(".no-resources");
        if (noResourcesDiv) {
            noResourcesDiv.remove();
        }

        var resourceElement = document.createElement("div");
        resourceElement.className = "resource";
        if (["png", "jpg", "jpeg", "svg", "gif", "webp", "bmp", "ico"].includes(resource.ext.toLowerCase())) {
            resourceElement.innerHTML = `
                <img src="${resource.link}" alt="${resource.name}" class="resource-thumbnail" />
                <a href="${resource.link}" target="_blank">${resource.name} (${resource.ext.toUpperCase()})</a>
                <span class="uploader">by ${resource.uploader}</span>
            `;
        } else {
            resourceElement.innerHTML = `
                <span class="fake-thumbnail" style="text-transform: uppercase;">${resource.ext}</span>
                <a href="${resource.link}" target="_blank">${resource.name} (${resource.ext.toUpperCase()})</a>
                <span class="uploader">by ${resource.uploader}</span>
            `;
        }
        resourcesList.appendChild(resourceElement);
        resourcesList.scrollTop = resourcesList.scrollHeight;
    });

    window.onload = function () {
        var chatBox = document.getElementById("chat-box");
        chatBox.scrollTop = chatBox.scrollHeight;

        var resourcesList = document.getElementById("resources-list");
        resourcesList.scrollTop = resourcesList.scrollHeight;
    };

</script>
{% endblock %}